body {
  background-color: #f5f5f5;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  margin: 0;
  padding: 0;
}

a {  
  text-decoration: none;
}

.target {
  display: block;
	width: 100%;
	height: 100%;
	text-indent: -99999px;
}
/* start platform */
.edx {
  width: 193px;
  height: 98px;
  background: url(../assets/online/edx.png) top no-repeat;
}
.c_institute {
  width: 40px;
  height: 35px;
  background: url(../assets/online/c++institute.png) top no-repeat;
}
.berkeley {
  width: 417px;
  height: 211px;
  background: url(../assets/online/berkeley.png) top no-repeat;
}
.harvard {
  width: 417px;
  height: 210px;
  background: url(../assets/online/harvard.png) top no-repeat;
}
.novoed {
  width: 313px;
  height: 83px;
  background: url(../assets/online/novoed.png) top no-repeat;
}
.itunesu {
  width: 274px;
  height: 141px;
  background: url(../assets/online/itunesu.png) top no-repeat;
}
.lynda {
  width: 248px;
  height: 249px;
  background: url(../assets/online/lynda.png) top no-repeat;
}
.microsoft {
  width: 656px;
  height: 133px;
  background: url(../assets/online/microsoft.png) top no-repeat;
}
.mit {
  width: 407px;
  height: 92px;
  background: url(../assets/online/mit.png) top no-repeat;
}
.mongodbuniv {
  width: 550px;
  height: 140px;
  background: url(../assets/online/mongodbuniv.png) top no-repeat;
}
.udemy {
  width: 312px;
  height: 102px;
  background: url(../assets/online/udemy.png) top no-repeat;
}
.w3c {
  width: 598px;
  height: 122px;
  background: url(../assets/online/w3c.png) top no-repeat;
}
a.target:hover {
  opacity: .6;
}

/* end platform */

img:hover {
  opacity: .6;
}
/* start margin */
  .margin-10 {
    margin: 10;
  }
  .margin-top-10 {
    margin-top: 10;
  }
/* end margin */

/* start color */
.orange {
  color: orange;
}
.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.aqua {
  color: aqua;
}
.brown {
  color: brown;
}
.yellow {
  color: yellow;
}
.white {
  color: white;
}
.black {
  color: black;
}
.bg-yellow {
  background-color: yellow;
}
.bg-orange {
  background-color: orange;
}
.bg-green {
  background-color: green;
}
.bg-lime {
  background-color: lime;
}
.bg-pink {
  background-color: pink;
}
/* end color */

.verdana {
  font-family: verdana;
}
.courier {
  font-family: courier;
}

/* star weight */
.weight-bold {
  font-weight: bold;
}
/* end weight */

/* start transform */
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
/* end transform */

/* start font-variant */
.small-caps {
  font-variant: small-caps;
}
/* end font-variant */

/* start decoration */
.italic {
  font-style: italic;
}
/* end decoration */

/* start size */
.large {
  font-size: large;
}
.x-large {
  font-size: x-large;
}
.xx-large {
  font-size: xx-large;
}
.custom-15 {
  font-size: 15px;
}
.custom-20 {
  font-size: 20px;
}
.custom-30 {
  font-size: 30px;
}
.custom-50 {
  font-size: 50px;
}
/* end size */

/* start align */
.justify {
  text-align: justify;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
/* end align */


/* start line-height */
.line-small {
  line-height: 15px;
}
.line-normal {
  line-height: 30px;
}
.line-medium {
  line-height: 80px;
}
.line-large {
  line-height: 100px;
}
/* end line-height */

/* start space */
.pre {
  white-space: pre;
}
/* end space */

/* start border */
.bd-large {
  border-width: 100px;
}
.bd-blue {
  border-color: blue;
}
/* end border */

.bg-pos-center {
  background-position: center;
}

/* start custom format */
a.hover:hover  {
  color: white;
  background-color: grey;
  font-size: 50px;
}
/* end custom format */
body#biodata,
body#definisi2 {
  background-color: transparent;
}

#biodata div {
  
}

#biodata a,
#layer a,
#definisi1 a,
#definisi2 a {
  text-decoration: underline;
}

body#layer {
  background-color: green;
}

#layer div {
  margin-top: 3px;
  margin-bottom: 3px;
}

#layer .z-2 {
  position: relative;
  z-index: 2;
  top: -29px;
}

#definisi1 {
  background: url('../img/gambar1.jpg');
}

#definisi2 div {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#bio {
  text-decoration: underline;
  font-size: 30px;
  font-variant: small-caps;
}

/* material design start */
.mdl-navigation {
  margin-top: 68px;
}
.mdl-body {
  padding-top: 25px;
}
.mdl-body-content {
  padding-left: 25px;
  padding-right: 25px;
}
.mdl-wrapper {
  padding: 30px;
  width: 1024px;
  height: 323px;
}
.mdl-wrapper a {
  display: inline-block;
}
.mdl-weigth-text--600 {
  font-weight: 600;
}
.mdl-color-text--grey {
  color: #757575 !important;
}
.mdl-color-text--white {
  color: #fafafa !important;
}
.mdl-link {
  padding: 0 16px;
  color: #fff;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
}
a.mdl-link:link {
  opacity: .65 !important;
}
a.mdl-link:hover {
  opacity: 1 !important;
  text-decoration: underline;
}
.mdl-header {
  background-image: url(../assets/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.mdl-layer-1 {
  position: relative;
}

.mdl-layer-2 {
  position: relative;
  top: -23px;
}
.mdl-footer {
  background-color: #212121;
  text-align: center;
}
/* material design end */

#daftar {
  /*text-align: center;*/
}

#daftar a {
  display: inline-block;
}

#footer {  
  padding-top: 15px;
}